<% content_for :title, "Poliana | See Through Government" %>
<% binding.pry %>
<section class="gray">
	<div class="row">
		<div class="large-6 columns large-centered">
			<%= image_tag "landing/logo.png", :id => "logo", :alt => "Poliana" %>
		</div>
		<form action="http://poliana.us7.list-manage1.com/subscribe/post?u=92d5bd31807677bfb3c47261b&amp;id=f21dcc0b54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form1 mailchimp-form" target="_blank" novalidate="">
			<div class="large-6 columns large-centered">
				<input type="text" value="" name="FNAME" class="required fname" id="mce-FNAME" placeholder="First Name">
			</div>
			<div class="large-6 columns large-centered">
				<input type="text" value="" name="LNAME" class="required lname" id="mce-LNAME" placeholder="Last Name">
			</div>
			<div class="large-6 columns large-centered">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
			</div>
			<div class="large-6 columns large-centered">
				<div class="submitHold">
					<input type="submit" value="Join the Revolution" name="subscribe" id="mc-embedded-subscribe" class="submit">
				</div>
			</div>
		</form>
		<div class="large-6 columns large-centered">
			<%= image_tag "landing/arrows.png", :id => "arrows", :alt => "Poliana" %>
		</div>
		<div class="large-12 columns">
			<h2>We're a rag-tag team of dragon slayers...</h2>
		</div>
		<div class="large-3 small-6 columns teamMember">
			<%= image_tag "landing/grayson.png", :alt => "Grayson Carroll" %>
			<h4><b>Grayson</b> Carroll</h4>
			<p><i>CEO, Main Visionary</i></p>
		</div>
		<div class="large-3 small-6 columns teamMember">
			<%= image_tag "landing/patrick.png", :alt => "Patrick Cason" %>
			<h4><b>Patrick</b> Cason</h4>
			<p><i>COO, Lead Designer</i></p>
		</div>
		<div class="large-3 small-6 columns teamMember">
			<%= image_tag "landing/david.png", :alt => "David Gilmore" %>
			<h4><b>David</b> Gilmore</h4>
			<p><i>CTO, Lead Engineer</i></p>
		</div>
		<div class="large-3 small-6 columns teamMember">
			<%= image_tag "landing/shawn.png", :alt => "Shawn Whiting" %>
			<h4><b>Shawn</b> Whiting</h4>
			<p><i>Director of Strategy</i></p>
		</div>
	</div>
</section>
<section class="blue">
	<div class="row">
		<div class="large-12 columns">
			<h2>... trying to change your understanding of Washington...</h2>
		</div>
		<div class="large-10 columns large-centered">
			<p>Poliana is a web application that simpliﬁes the legislative system by analyzing and visualizing money’s inﬂuence in politics. Abraham Lincoln once discussed a "government of the people, by the people, for the people" in his famous Gettysburg Address. Since then, things have changed in how our government represents its constituents.</p>
			<p>You'd be surprised at the mass amount of big political data out there. We're striving to take that data and display it in a way that makes sense to people, and isn't just a bunch of confusing numbers. By creating interactive graphs, it's easier for people to understand where trends fall (or don't fall) in politics and what influences legislation.</p>
			<p>No matter your opinion on politics, we aim to create a population of informed citizens by giving them the ability to explore and understand their government.</p>
		</div>
	</div>
</section>
<section class="gray">
	<div class="row">
		<div class="large-12 columns">
			<h2>... by letting you <em>interact</em> with your government...</h2>
		</div>
		<div class="large-12 columns">
			<%= link_to demo_path do |d| %>
				<%= image_tag "landing/graph.png", :alt => "Poliana Graph Explorer" %>
			<% end %>
		</div>
		<div class="large-4 columns">
			<h3>Interactive Graphs</h3>
			<p>Data tells a story, but it's not easy to understand in a raw form. We’ve taken the data, made it easy to view and explore.</p>
		</div>
		<div class="large-4 columns">
			<h3>Lead the Investigation</h3>
			<p>Poliana is built around the idea that you should have the power to discover. We’ll present the data and you draw the conclusions.</p>
		</div>
		<div class="large-4 columns">
			<h3>Spread the Word</h3>
			<p>Find something interesting? Tell people about it! We make it easy to share your findings with your friends and create meaningful discussion.</p>
		</div>
	</div>
</section>
<section class="black">
	<div class="row">
		<div class="large-12 columns">
			<h2>... and enable true political transparency. Join us.</h2>
		</div>
		<form action="http://poliana.us7.list-manage1.com/subscribe/post?u=92d5bd31807677bfb3c47261b&amp;id=f21dcc0b54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate large-5 columns form2 mailchimp-form" target="_blank" novalidate="">
				<input type="text" value="" name="FNAME" class="required fname" id="mce-FNAME" placeholder="First Name">
				<input type="text" value="" name="LNAME" class="required lname" id="mce-LNAME" placeholder="Last Name">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
				<div class="submitHold">
					<input type="submit" value="Join the Revolution" name="subscribe" id="mc-embedded-subscribe" class="submit">
				</div>
		</form>
		<div class="large-4 columns">
			<h3>Get to know more...</h3>
			<ul>
				<li>
					<%= link_to investors_path do |f| %>
						<span aria-hidden="true" class="icon-user"></span>
						<span class="iconText">Thinking about investing?</span>
					<% end %>
				</li>
				<li>
					<a href="https://www.facebook.com/polianainc" target="_blank">
						<span aria-hidden="true" class="icon-facebook"></span>
						<span class="iconText">facebook.com/polianainc</span>
					</a>
				</li>
				<li>
					<a href="https://www.twitter.com/poliana" target="_blank">
						<span aria-hidden="true" class="icon-twitter"></span>
						<span class="iconText">twitter.com/poliana</span>
					</a>
				</li>
				<li>
					<a href="mailto:contact@poliana.com">
						<span aria-hidden="true" class="icon-mail"></span>
						<span class="iconText">contact@poliana.com</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>