<% content_for :title, "Team" %>
<div class="fullRow teamWideBlurred">
	<div class="absoluteHero">
		<h1>We're a rag-tag team of dragon slayers...</h1>
		<p class="largerParagraph">Poliana is made up of developers, designers, and entrepreneurs on a mission to clear up the political landscape.</p>
	</div>
</div>
<div class="row teamMember extraPad">
	<div class="large-3 small-6 small-centered large-uncentered columns">
		<%= image_tag "pictures/grayson.jpg", :alt => "Grayson Carroll" %>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list">
			<li><h3>Grayson Carroll</h3></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-linkedin'></span>".html_safe, "http://www.linkedin.com/profile/view?id=257513776", :target => "_blank" %></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-envelop'></span>".html_safe, "mailto:grayson@poliana.com", :target => "_blank" %></li>
		</ul>
		<p>The brains of the whole operation would be none other than that of Grayson Carroll. He has worked as a full-stack web programmer and is currently wrapping up a Computer Science degree. Grayson has been a political enthusiast since the womb and has a long-sought vision for political transparency and a more effective America.</p>
	</div>
</div>
<div class="row teamMember extraPad">
	<div class="large-3 small-6 small-centered large-uncentered columns">
		<%= image_tag "pictures/patrick.jpg", :alt => "Patrick Cason" %>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list">
			<li><h3>Patrick Cason</h3></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-twitter'></span>".html_safe, "https://www.twitter.com/cereallarceny", :target => "_blank" %></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-linkedin'></span>".html_safe, "http://www.linkedin.com/in/patrickcason", :target => "_blank" %></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-envelop'></span>".html_safe, "mailto:patrick@poliana.com", :target => "_blank" %></li>
		</ul>
		<p>While appearing as a web designer and developer on the outside, Patrick has the entrepreneurial spirit of a fierce Siberian tiger. Patrick has spent most of his time as a freelancer, while also working at a design firm along the way. As he earns a degree in Web Development, Patrick uses his free-time repairing and playing vintage keyboards and organs while also designing pretty graphs for Poliana.</p>
	</div>
</div>
<div class="row teamMember extraPad">
	<div class="large-3 small-6 small-centered large-uncentered columns">
		<%= image_tag "pictures/david.jpg", :alt => "David Gilmore" %>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list">
			<li><h3>David Gilmore</h3></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-linkedin'></span>".html_safe, "http://www.linkedin.com/profile/view?id=114293672", :target => "_blank" %></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-envelop'></span>".html_safe, "mailto:david@poliana.com", :target => "_blank" %></li>
		</ul>
		<p>Like any true nerd, David lives in a world where semi-colons are his alphabet soup and data reigns supreme over the lands. While working on a bachelors degree in Computer Science, he spends all his free-time playing drums and coding on Poliana. David also worked at <%= link_to "Emma", "https://myemma.com", :target => "_blank" %> as a back-end engineer, and frequently enjoys a nice glass of aged Scotch; he’s the definition of a true gentleman.</p>
	</div>
</div>
<div class="row teamMember extraPad">
	<div class="large-3 small-6 small-centered large-uncentered columns">
		<%= image_tag "pictures/shawn.jpg", :alt => "Shawn Whiting" %>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list">
			<li><h3>Shawn Whiting</h3></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-linkedin'></span>".html_safe, "http://www.linkedin.com/in/shawnwhiting", :target => "_blank" %></li>
			<li><%= link_to "<span aria-hidden='true' class='icon-envelop'></span>".html_safe, "mailto:shawn@poliana.com", :target => "_blank" %></li>
		</ul>
		<p>Known internally as the jack-of-all-trades, Shawn has a bachelors degree in Film and a masters in Entrepreneurship. For Poliana, Shawn is in charge of business strategy and research to ensure we’ve dotted our “i’s” and crossed our “t’s”, as well as wearing the meanest pair of khaki slacks this side of the Mississippi.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-12 columns">
		<h2>Passionate about political transparency?</h2>
		<p><%= link_to "Send us an email", contact_path %>, we’d love to see what you can bring to the table.</p>
	</div>
</div>