<% content_for :title, "Edit #{resource_name.to_s.humanize}" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>
	</div>
</div>
<div class="row">
	<div class="large-6 medium-6 large-centered medium-centered columns">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "custom", :autocomplete => "off" }) do |f| %>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:email].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-envelope"></span>
		        </div>
				<div class="small-10 columns">
		  			<%= f.email_field :email, :autofocus => true, :autocomplete => "off", :placeholder => "Email Address" %>
				</div>
				<%= '<div class="small-12 columns"><small class="error">Your password must be strong like Popeye</small></div>'.html_safe() if !resource.errors[:password].empty? %>
			</div>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:password].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-10 columns">
		  			<%= f.password_field :password, :autofocus => true, :autocomplete => "off", :placeholder => "Password" %>
				</div>
				<%= '<div class="small-12 columns"><small class="error">Tell us your password again</small></div>'.html_safe() if !resource.errors[:password_confirmation].empty? %>
			</div>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:password_confirmation].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-10 columns">
		  			<%= f.password_field :password_confirmation, :autofocus => true, :autocomplete => "off", :placeholder => "Confirm Password" %>
				</div>
				<%= '<div class="small-12 columns"><small class="error">Tell us your password again</small></div>'.html_safe() if !resource.errors[:password_confirmation].empty? %>
			</div>
			<% if f.object.encrypted_password.present? %>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:current_password].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-10 columns">
		  			<%= f.password_field :current_password, :autofocus => true, :autocomplete => "off", :placeholder => "Current Password" %>
				</div>
				<%= '<div class="small-12 columns"><small class="error">Tell us your password again</small></div>'.html_safe() if !resource.errors[:password_confirmation].empty? %>
			</div>
			<% end %>
		  	<%= f.submit "Submit Changes", :class => "button expand radius" %>
			<p class="text-center no-space"><small><%= link_to "Cancel my Account", registration_path(resource_name), :data => { :confirm => "Oh no! Are you sure?" }, :method => :delete %></small></p>
		<% end %>
	</div>
</div>