<div class="row">
	<div class="large-12 columns">
		<h1 class="searchCount"></h1>
		<form class="custom">
			<input type="search" class="searchInput" value="<%= params[:query] %>" placeholder="Search anything in the political system...">
		</form>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav blocky searchSelector">
			<li<%= params[:fields].split(",").include?('bills') ? " class=active" : '' %>><a href="#">Bills</a></li>
			<li<%= params[:fields].split(",").include?('industries') ? " class=active" : '' %>><a href="#">Industries</a></li>
			<li<%= params[:fields].split(",").include?('politicians') ? " class=active" : '' %>><a href="#">Politicians</a></li>
		</ul>
	</div>
	<div class="large-9 columns searchArea"></div>
</div>

<%= javascript_include_tag "search", :defer => "defer" %>