<% content_for :title, "Change Password" %>
<div class="row extraPad">
	<div class="large-12 columns">
		<h1 class="aligncenter">Change your password</h1>
	</div>
</div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "new_user custom", :autocomplete => "off" }) do |f| %>
		  	<%= devise_error_messages! %>	
			<%= f.hidden_field :reset_password_token %>
			<div class="row collapse">
				<div class="small-1 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-11 columns">
		  			<%= f.password_field :password, :autofocus => true, :autocomplete => "off", :placeholder => "Password" %>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-1 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-11 columns">
		  			<%= f.password_field :password_confirmation, :autofocus => true, :autocomplete => "off", :placeholder => "Confirm Password" %>
				</div>
			</div>
		  	<%= f.submit "Nice one slim!", :class => "button expand large radius" %>
		<% end %>
	</div>
</div>