<% content_for :title, "Forgot Password" %>
<div class="row extraPad">
	<div class="large-12 columns">
		<h1 class="aligncenter">Forgot your password?</h1>
	</div>
</div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "new_user custom", :autocomplete => "off" }) do |f| %>
		  	<%= devise_error_messages! %>
			<div class="row collapse">
				<div class="small-1 columns">
		            <span aria-hidden="true" class="prefix icon-envelop"></span>
		        </div>
				<div class="small-11 columns">
		  			<%= f.email_field :email, :autofocus => true, :autocomplete => "off", :placeholder => "Email Address" %>
				</div>
			</div>
		  	<%= f.submit "Happens to the best of us.", :class => "button expand large radius" %>
			<small class="aligncenter"><%= link_to "Sign in?", new_user_session_path %></small>
			<small class="aligncenter"><%= link_to "Want an invitation?", root_path %></small>
		<% end %>
	</div>
</div>