<div class="large-12 columns">
	<% if flash[:error] || flash[:errors] || flash[:alert] %>
	<div data-alert class="alert-box alert radius">
		<a href="#" class="close">&times;</a>
		<%= "<p>#{flash[:error]}</p>".html_safe if flash[:error] %>
		<%= "<p>#{flash[:errors]}</p>".html_safe if flash[:errors] %>
		<%= "<p>#{flash[:alert]}</p>".html_safe if flash[:alert] %>
	</div>
	<% end %>
	<% if flash[:success] || flash[:notice] %>
	<div data-alert class="alert-box success radius">
		<a href="#" class="close">&times;</a>
		<%= "<p>#{flash[:success]}</p>".html_safe if flash[:success] %>
		<%= "<p>#{flash[:notice]}</p>".html_safe if flash[:notice] %>
	</div>
	<% end %>
</div>