<div id="feedback-modal" class="reveal-modal medium" data-reveal style="display: none;">
	<%= form_for @feedbacker, :html => { :multipart => true } do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.label :email %>
	  <%= f.text_field :email %>

	  <%= f.label :description %>
	  <%= f.text_field :description %>

	  <%= f.label :link %>
	  <%= f.text_field :link %>

	  <%= f.label "Screenshot" %>
	  <%= f.file_field :image %>

	  <%= f.submit "Submit" %>
	<% end %>
</div>
