<% content_for :entity_type, "bills" %>
<%
	if !@bill.popularTitle.nil?
		name = @bill.popularTitle
	elsif !@bill.shortTitle.nil?
		name = @bill.shortTitle
	else
		name = @bill.officialTitle
	end

	if @bill.billId[0,1] == "S" or @bill.billId[0,1] == "s"
		chamber = "Senate"
	else
		chamber = "House"
	end
%>
<% content_for :title, name %>
<div id="bill">
	<div id="billID" class="hide"><%= params[:billId] %></div>
	<div class="row entityInfo">
		<div class="large-9 push-3 columns">
			<h1<% if name.length > 40 %> class="smallerTitle"<% end %>><%= name %></h1>
			<h5 class="subheader"><%= @bill.congress.ordinalize %> Congress &bull; <%= chamber %> Bill <%= @bill.billId.upcase %></h5>
			<p data-summary="<%= @bill.summary %>"><%= @bill.summary.words_limit(100) %></p>
			<% if @bill.summary.words_limit(100) != @bill.summary %>
			<p class="alignright readMore"><a href="#">Read more »</a></p>
			<% end %>
		</div>
		<div class="large-3 small-8 pull-9 small-centered large-uncentered columns">
			<span class="icon-file extraLargeIcon hide-for-small" aria-hidden="true"></span>
			<p class="hide-for-small">
				<small><b>Sponsor: </b><a href="/politicians/<%= @bill.sponsor.firstName.downcase.parameterize + "-" + @bill.sponsor.lastName.downcase.parameterize + "/" + @bill.sponsor.bioguideId %>"><%= @bill.sponsor.officialFull %> (<%= @bill.sponsor.party.convert_party('abbrev') %> - <%= @bill.sponsor.termState %>)</a></small>
				<a href="#" class="button otherModal small aligncenter radius" data-othermodal="">Co-sponsors (<%= @bill.cosponsors.length %>) »</a>
				<a href="#" class="button otherModal small aligncenter radius" data-othermodal="">Subjects (<%= @bill.subjects.length %>) »</a>
			</p>
		</div>
	</div>
	<div class="row" id="graphs">
		<noscript>You need to turn on Javascript!</noscript>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h4>Discussion</h4>
			<div id="disqus_thread"></div>
		    <%= javascript_include_tag "disqus.min", :defer => "defer" %>
		</div>
	</div>
</div>