<% content_for :entity_type, "industries" %>
<% content_for :title, @industry.name %>
<div id="industry">
	<div id="industryID" class="hide"><%= params[:industry_id] %></div>
	<div class="row entityInfo">
		<div class="large-9 push-3 columns">
			<h1<% if @industry.name.length > 40 %> class="smallerTitle"<% end %>><%= @industry.name %></h1>
			<h5 class="subheader"><%= @industry.industry %> Industry &bull; <%= @industry.sector_long %> Sector</h5>
		</div>
		<div class="large-3 small-8 pull-9 small-centered large-uncentered columns">
			<span class="icon-office extraLargeIcon hide-for-small" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row" id="graphs">
		<noscript>You need to turn on Javascript!</noscript>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h4>Discussion</h4>
			<div id="disqus_thread"></div>
		    <%= javascript_include_tag "disqus.min", :defer => "defer" %>
		</div>
	</div>
</div>