<% content_for :title, "Sign Up" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">Join the Poliana beta!</h1>
	</div>
</div>
<%- if devise_mapping.omniauthable? %>
	<div class="row omniauth">
		<div class="large-6 medium-6 large-centered medium-centered columns">
			<div class="row">
		  	<%- resource_class.omniauth_providers.each do |provider| %>
				<div class="large-6 small-6 columns">
		    	<%= link_to "<span aria-hidden='true' class='icon-#{provider.to_s.titleize.downcase}'></span><span>Connect</span>".html_safe(), omniauth_authorize_path(resource_name, provider), :class => "button small expand radius #{provider.to_s.titleize.downcase}" %>
				</div>
		  	<% end -%>
			</div>
		</div>
	</div>
<% end -%>
<div class="row">
	<div class="large-6 medium-6 large-centered medium-centered columns">
		<%= form_for(resource, :html => { :class => "custom", :autocomplete => "off" }, :as => resource_name, :url => beta_registration_path) do |f| %>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:email].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-mail"></span>
		        </div>
				<div class="small-10 columns">
					<%= f.email_field :email, :autofocus => true, :autocomplete => "off", :placeholder => "Email Address" %>
				</div>
				<%= throw_errors("Email Address", resource.errors[:email]) %>
			</div>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:username].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-user"></span>
		        </div>
				<div class="small-10 columns">
					<%= f.text_field :username, :autocomplete => "off", :placeholder => "Username" %>
				</div>
				<%= throw_errors("Username", resource.errors[:username]) %>
			</div>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:password].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-10 columns">
					<%= f.password_field :password, :autocomplete => "off", :placeholder => "Password" %>
				</div>
				<%= throw_errors("Password", resource.errors[:password]) %>
			</div>
			<div class="row collapse pre-input<%= " error" if !resource.errors[:password_confirmation].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-10 columns">
					<%= f.password_field :password_confirmation, :autocomplete => "off", :placeholder => "Confirm Password" %>
				</div>
				<%= throw_errors("Password confirmation", resource.errors[:password_confirmation]) %>
			</div>

			<%= f.hidden_field :invitation_key, :autocomplete => "off" %>

			<%= f.submit "Let's Go", :class => "button expand radius" %>
			<p class="text-center no-space"><small><%= link_to "Already signed up?", new_user_session_path %></small></p>
			<p class="text-center no-space"><small><%= link_to "Forgot your password?", new_user_password_path %></small></p>
		<% end %>
	</div>
</div>