<% content_for :title, "Invitations" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">Invite someone to the beta!</h1>
	</div>
</div>
<div class="row">
	<div class="large-6 medium-6 large-centered medium-centered columns">
		<%= form_for @invitation, :class => "custom" do |f| %>
			<div class="row collapse pre-input<%= " error" if !@invitation.errors[:recipient_email].empty? %>">
				<div class="small-2 columns">
		            <span aria-hidden="true" class="prefix icon-envelope"></span>
		        </div>
				<div class="small-10 columns">
					<%= f.text_field :recipient_email, :autofocus => true, :autocomplete => "off", :placeholder => "Email Address" %>
				</div>
				<%= '<div class="small-12 columns"><small class="error">That email is already associated with an account. </small></div>'.html_safe() if !@invitation.errors[:recipient_email].empty? %>
			</div>
		  	<%= f.submit "Send an invitation!", :class => "button expand radius" %>
		<% end %>
	</div>
</div>