<% content_for :title, "Sign In" %>
<div class="row extraPad">
	<div class="large-12 columns">
		<h1 class="aligncenter">Sign In to Poliana</h1>
	</div>
</div>
<%- if devise_mapping.omniauthable? %>
	<div class="row">
		<div class="large-6 large-centered columns">
			<div class="row">
		  	<%- resource_class.omniauth_providers.each do |provider| %>
				<div class="large-6 columns">
		    	<%= link_to "<span aria-hidden='true' class='icon-#{provider.to_s.titleize.downcase}'></span><span>Connect</span>".html_safe(), omniauth_authorize_path(resource_name, provider), :class => "button expand radius #{provider.to_s.titleize.downcase}" %>
				</div>
		  	<% end -%>
			</div>
		</div>
	</div>
<% end -%>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for(resource, :html => { :class => "new_user custom", :autocomplete => "off" }, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="row collapse">
				<div class="small-1 columns">
		            <span aria-hidden="true" class="prefix icon-user-2"></span>
		        </div>
				<div class="small-11 columns">
		  			<%= f.text_field :login, :autofocus => true, :autocomplete => "off", :placeholder => "Username or Email Address" %>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-1 columns">
		            <span aria-hidden="true" class="prefix icon-lock"></span>
		        </div>
				<div class="small-11 columns">
		  			<%= f.password_field :password, :autocomplete => "off", :placeholder => "Password" %>
				</div>
			</div>

			<% if devise_mapping.rememberable? -%>
				<%= f.label :remember_me do |g| %><%= f.check_box :remember_me %> Remember Me?<% end %>
			<% end -%>
			<br>
		  	<%= f.submit "Welcome back!", :class => "button expand large radius" %>
			<small class="aligncenter"><%= link_to "Forgot your password?", new_user_password_path %></small>
			<small class="aligncenter"><%= link_to "Want an invitation?", root_path %></small>
		<% end %>
	</div>
</div>