<% terms = @politician.terms.sort { |a, b| b.start <=> a.start } %>
<%
	last_real_term = ""

	terms.reverse_each do |t|
		if !t.term_type.nil?
			last_real_term = t
			break
		end
	end
%>
<% birthday = @politician.birthday.to_time.strftime('%b %d, %Y') %>
<% content_for :title, @politician.full_name %>
<div class="page-specific" data-controller="graph_explorer"></div>
<div class="page-specific" data-controller="politicians"></div>
<div class="loader"></div>
<div class="hide primary-key" data-id="<%= @politician.bioguide_id %>" data-start="<%= terms.last.start.strftime('%m-%d-%Y') %>" data-end="<%= terms.first.end.strftime('%m-%d-%Y') %>"></div>
<div class="row">
	<div class="large-3 medium-3 small-4 small-centered medium-uncentered large-uncentered columns">
		<%= image_tag @politician.image_url %>
	</div>
	<div class="large-9 medium-9 columns">
		<h1 class="small-only-text-center"><%= @politician.full_name %></h1>
		<div class="clearfix politician-sub-information">
			<% if @politician.party and @politician.state %>
			<ul class="politician-card sided left small-centered <%= @politician.party.downcase %>">
				<li><%= Politician.party(@politician.party) %></li>
				<li><%= @politician.state %></li>
			</ul>
			<% end %>
			<% if !terms.first.term_type.nil? %>
			<h5 class="left"><%= Politician.role(terms.first.term_type) %></h5>
			<% end %>
		</div>
		<div class="foldable">
			<div class="foldable-header down">
				<div class="row show-for-small">
					<div class="small-12 columns">
						<h3 class="title">Personal Information</h3>
					</div>
				</div>
			</div>
			<div class="foldable-content politician-personal-information">
				<div>
					Been in office <%= time_ago_in_words(last_real_term.start.to_time, false, :only => ["years", "months", "days"]) %> <i>(<%= (((Date.today - last_real_term.start).to_f / (Date.today - @politician.birthday)) * 100).to_i %>% of <%= Politician.pronoun(@politician.gender) %> life)</i>
					<% if !@wikipedia_bio.nil? %>
					<p><a href="#" class="slide-reveal" data-id="1">Read Biography &raquo;</a></p>
					<div class="row hide slide-reveal" data-id="1">
						<div class="large-12 columns">
							<i><%= @wikipedia_bio.to_s.html_safe %></i>
						</div>
					</div>
					<% end %>
				</div>
				<div class="row">
					<% if @politician.birthday %>
					<div class="large-4 medium-4 columns">
						<div class="politician-personal-section">
							<p class="text-center gray-caps">Age</p>
							<p class="text-center upsize"><%= birthday + " (" + @politician.age.to_s + ")" %></p>
							<p class="text-center downsize"><i>Older than <%= 100 - @politician.percent_age_difference.to_i %>% of Congress</i></p>
							<div class="progress radius success">
								<span class="meter" style="width: <%= 100 - @politician.percent_age_difference.to_i %>%;"></span>
							</div>
						</div>
					</div>
					<% end %>
					<% if @politician.gender %>
					<div class="large-4 medium-4 columns">
						<div class="politician-personal-section">
							<p class="text-center gray-caps">Gender</p>
							<p class="text-center upsize"><%= Politician.gender(@politician.gender) %></p>
							<p class="text-center downsize"><i><%= @politician.percent_gender.to_i %>% of Congress</i></p>
							<div class="progress radius success">
								<span class="meter" style="width: <%= @politician.percent_gender.to_i %>%;"></span>
							</div>
						</div>
					</div>
					<% end %>
					<% if @politician.religion && @politician.religion != "Unknown"  %>
					<div class="large-4 medium-4 columns">
						<div class="politician-personal-section">
							<p class="text-center gray-caps">Religion</p>
							<p class="text-center upsize"><%= @politician.general_religion %></p>
							<p class="text-center downsize"><i><%= @politician.religion %></i></p>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="foldable">
	<div class="foldable-header down">
		<div class="row show-for-small">
			<div class="small-12 columns">
				<h3 class="title">Timeline</h3>
			</div>
		</div>
	</div>
	<div class="foldable-content">
		<div class="row" id="timeline">
			<div class="large-12 columns show-for-medium-up">
				<div id="timeline-area" class="graph">
					<% terms.each do |f| %>
						<span data-key="<%= f.congresses.join(',') %>" data-value="<b><%= Politician.role(f.term_type) %></b> (<%= f.start.year - 1 %>)" class="hide key-value"></span>
					<% end %>
				</div>
			</div>
			<div class="small-12 columns show-for-small">
				<div id="timeline-select" class="graph">
					<select>
						<option value="all">All Congresses</option>
					<% terms.each do |f| %>
						<% f.congresses.sort { |x, y| y <=> x }.each do |g| %>
							<option value="<%= g %>"><%= Politician.role(f.term_type) + " (" + g.ordinalize + " Congress)" %></option>
						<% end %>
					<% end %>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 columns">
				<div id="pacs-bar" class="graph"></div>
			</div>
			<div class="large-6 medium-6 columns">
				<div id="industries-bar" class="graph"></div>
			</div>
		</div>
	</div>
</div>
<ol class="joyride-list" data-cookie="politicians_show" data-joyride>
	<li>
		<div class="row hero">
			<div class="large-12 columns">
				<h4 class="text-center">Welcome to <%= @politician.full_name %>'s page!</h4>
				<p>Here you can find anything you want to know about a politician. We've set up a brief tutorial to show you around. Shall we begin?</p>
			</div>
		</div>
		<div class="row">
			<div class="large-8 medium-10 small-10 large-centered medium-centered small-centered columns">
				<div class="progress radius success">
					<span class="meter" style="width: 25%">1/4</span>
				</div>
				<a href="#" class="small button radius expand joyride-next-tip">Awesome, let's go!</a>
			</div>
		</div>
	</li>
	<li data-id="timeline" data-options="tip_location:bottom;">
		<div class="row hero">
			<div class="large-12 columns">
				<h4 class="text-center">See influence over time!</h4>
				<p>This is a graph that gives you a bird's eye view of campaign finance contributions over time. You can also click on the graph at a specific congress or range of congresses to see how the money stacks up.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-8 medium-10 small-10 large-centered medium-centered small-centered columns">
				<div class="progress radius success">
					<span class="meter" style="width: 50%">2/4</span>
				</div>
				<a href="#" class="small button radius expand joyride-next-tip">Sweet, tell me more!</a>
			</div>
		</div>
	</li>
	<li>
		<div class="row hero">
			<div class="large-12 columns">
				<h4 class="text-center">You can view PAC contributions!</h4>
				<p>Off to the left you can view donations to <%= @politician.full_name %> made through PAC's (or "Political Action Committees"). If you want to know more about what PAC's are and how they influence a campaign, click the <span aria-hidden="true" class="icon-help"></span> button.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-8 medium-10 small-10 large-centered medium-centered small-centered columns">
				<div class="progress radius success">
					<span class="meter" style="width: 75%">3/4</span>
				</div>
				<a href="#" class="small button radius expand joyride-next-tip">Oh nice, I like it!</a>
			</div>
		</div>
	</li>
	<li>
		<div class="row hero">
			<div class="large-12 columns">
				<h4 class="text-center">Or even industry contributions!</h4>
				<p>Likewise, you can also see contributions made by businesses or people within an industry. Again, if you want to know more, feel free to click the <span aria-hidden="true" class="icon-help"></span> button.</p>
				<p>If you find something interesting, don't forget to share it out to your friends on social media. Just click the <span aria-hidden="true" class="icon-share"></span> button.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-8 medium-10 small-10 large-centered medium-centered small-centered columns">
				<div class="progress radius success">
					<span class="meter" style="width: 100%">All done!</span>
				</div>
				<a href="#" class="small button radius expand joyride-next-tip">Let me play with it...</a>
			</div>
		</div>
	</li>
</ol>
