<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) + " | Poliana" : "Poliana | See Through Government" %>"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="<%= request.original_url %>"/>
	<meta property="og:image" content="https://www.poliana.com/assets/logo-large.png"/>
	<meta property="og:site_name" content="Poliana"/>
	<meta property="og:locale" content="EN_US"/>
	<meta property="og:description" content="Poliana is a web application that simpliﬁes the legislative system by analyzing and visualizing money’s inﬂuence in politics."/>

	<title><%= content_for?(:title) ? yield(:title) + " | Poliana" : "Poliana | See Through Government" %></title>

	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag params[:controller] if stylesheet_exists?(params[:controller]) %>
	
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "ga" %>
	<%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<%= yield %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag params[:controller] if javascript_exists?(params[:controller]) %>
</body>
</html>