<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Poliana is a web application that simpliﬁes the legislative system by analyzing and visualizing money’s inﬂuence in politics." %>" />
	<meta name="keywords" content="Poliana,politics,government,influence,data,visualization,legislation,analyze,money,simplify,system,political" />

	<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) + " | Poliana" : "Poliana | See Through Government" %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:image" content="//www.poliana.com/assets/logo-large.png" />
	<meta property="og:site_name" content="Poliana" />
	<meta property="og:locale" content="EN_US" />
	<meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "Poliana is a web application that simpliﬁes the legislative system by analyzing and visualizing money’s inﬂuence in politics." %>" />

	<title><%= content_for?(:title) ? yield(:title) + " | Poliana" : "Poliana | See Through Government" %></title>

	<%= stylesheet_link_tag "application" %>

	<%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
	<%= render 'shared/errors' %>
	<div class="off-canvas-wrap">
		<div class="inner-wrap">
			<div id="container">
				<header id="header">
					<nav class="tab-bar hide-for-medium-up" id="mobile-nav">
						<section class="left-small">
							<a class="left-off-canvas-toggle menu-icon"><span></span></a>
						</section>
						<section class="middle tab-bar-section">
							<%= link_to image_tag('logo.png', :id => "logo-mobile", :alt => "Poliana"), root_path %>
						</section>
						<% if user_signed_in? %>
						<section class="right-small">
							<a class="right-off-canvas-toggle user-icon"><span aria-hidden="true" class="icon-user"></span></a>
						</section>
						<% end %>
					</nav>
					<aside class="left-off-canvas-menu">
						<ul class="off-canvas-list">
							<% if user_signed_in? %>
							<li><label>Explore</label></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-users"></span><span>Politicians</span>'.html_safe(), congress_politicians_path %></li>
							<% end %>
							<% if !user_signed_in? %>
							<li><label>General</label></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-login"></span><span>Sign In</span>'.html_safe(), new_user_session_path %></li>
							<% end %>
							<% if user_signed_in? %>
								<% if false %>
								<li><label>Search</label></li>
						  		<li class="has-form">
									<form>
						  				<input type="text" value="<%= params[:query] %>" class="menu-search<%= !request.env['PATH_INFO'].include?('search') ? " not-search" : '' %>" placeholder="Search">
										<a href="#"><span aria-hidden="true" class="icon-search"></span></a>
									</form>
						  		</li>
								<% end %>
							<% end %>
						</ul>
					</aside>
					<% if user_signed_in? %>
					<aside class="right-off-canvas-menu">
						<ul class="off-canvas-list">
							<li><label>Your Account</label></li>
							<li class="row collapse">
								<div class="small-3 columns">
									<%= image_tag current_user.avatar_url %>
								</div>
								<div class="small-9 columns">
									<p><%= current_user.username %></p>
									<p></p>
								</div>
							</li>
							<% if true === false %><li><%= link_to '<span aria-hidden="true" class="icon-users"></span><span>Beta Invitations</span>'.html_safe(), new_invitation_path %></li><% end %>
							<li><%= link_to '<span aria-hidden="true" class="icon-key"></span><span>Change Password</span>'.html_safe(), edit_user_registration_path %></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-logout"></span><span>Logout</span>'.html_safe(), destroy_user_session_path %></a></li>
						</ul>
					</aside>
					<% end %>
					<nav class="top-bar show-for-medium-up" id="desktop-nav" data-topbar>
						<ul class="title-area">
							<li class="name">
								<% if user_signed_in? %>
									<%= link_to image_tag('logo-mark.png', :id => "logo-desktop", :alt => "Poliana"), root_path %>
								<% else %>
									<%= link_to image_tag('logo.png', :id => "logo-desktop", :alt => "Poliana"), root_path %>
								<% end %>
							</li>
							<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
						</ul>
						<% if user_signed_in? %>
							<% if false %>
							<section class="top-bar-section">
								<ul class="left">
									<li class="has-form">
										<form>
							  				<input type="text" value="<%= params[:query] %>" class="menu-search<%= !request.env['PATH_INFO'].include?('search') ? " not-search" : '' %>" placeholder="Search">
											<a href="#"><span aria-hidden="true" class="icon-search"></span></a>
										</form>
							  		</li>
								</ul>
							</section>
							<% end %>
						<% end %>
						<section class="top-bar-section">
							<ul class="right">
								<% if user_signed_in? %>
								<li><%= link_to '<span aria-hidden="true" class="icon-users"></span><span>Politicians</span>'.html_safe(), congress_politicians_path %></li>
								<li class="has-dropdown">
									<a href="#"><%= image_tag current_user.avatar_url, :width => "24px" %></a>
									<ul class="dropdown">
										<% if true === false %><li><%= link_to '<span aria-hidden="true" class="icon-users"></span><span>Beta Invitations</span>'.html_safe(), new_invitation_path %></li><% end %>
										<li><%= link_to '<span aria-hidden="true" class="icon-key"></span><span>Change Password</span>'.html_safe(), edit_user_registration_path %></li>
										<li><%= link_to '<span aria-hidden="true" class="icon-logout"></span><span>Logout</span>'.html_safe(), destroy_user_session_path %></a></li>
									</ul>
								</li>
								<% else %>
								<li><%= link_to 'Sign In', new_user_session_path %></li>
								<% end %>
							</ul>
						</section>
					</nav>
				</header>
				<section id="content" class="main-section">
					<%= yield %>
				</section>
			</div>
			<footer id="footer">
				<div class="row">
					<div class="large-4 medium-4 push-8 columns">
						<h4 class="text-center">Sign up for beta!</h4>
						<form action="http://poliana.us7.list-manage1.com/subscribe/post?u=92d5bd31807677bfb3c47261b&amp;id=f21dcc0b54" method="post" class="mailchimp-form">
							<input type="email" class="email" name="EMAIL" placeholder="Email Address">
							<input type="submit" class="button expand" value="Get early access">
						</form>
					</div>
					<div class="large-8 medium-8 pull-4 columns">
						<%= link_to image_tag('logo-white.png', :id => "logo-footer", :alt => "Poliana"), root_path %>
						<p>Poliana is a web application that visualizes political influence. We’re based out of Nashville, Tennessee and love it here. To get in touch please email us at <%= link_to "contact@poliana.com", "mailto:contact@poliana.com" %> or find us on social media!</p>
						<ul class="social">
							<li><%= link_to '<span aria-hidden="true" class="icon-facebook2"></span>'.html_safe(), 'https://www.facebook.com/polianainc', :target => '_blank' %></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-twitter2"></span>'.html_safe(), 'https://twitter.com/poliana', :target => '_blank' %></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-github2"></span>'.html_safe(), 'https://github.com/polianaco/', :target => '_blank' %></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-tumblr2"></span>'.html_safe(), 'http://blog.poliana.com/', :target => '_blank' %></li>
							<li><%= link_to '<span aria-hidden="true" class="icon-vimeo2"></span>'.html_safe(), 'https://vimeo.com/82250634', :target => '_blank' %></li>
						</ul>
						<ul class="copyright">
							<li>Copyright &copy; <%= Time.now.year %> Poliana, Inc.</li>
							<li><%= link_to "Terms of Service", terms_path %></li>
							<li><%= link_to "Privacy Policy", policy_path %></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div class="state-indicator"></div>
	<div id="sharable" class="reveal-modal small" data-reveal style="display: none;">
		<div class="row">
			<div class="large-12 columns">
				<h3 class="text-center">Find something interesting?</h3>
			</div>
			<div class="large-6 medium-12 small-12 columns">
				<%= link_to "<span aria-hidden='true' class='icon-facebook'></span><span>Share on Facebook</span>".html_safe(), 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, :class => "button small expand radius facebook", :target => "_blank" %>
			</div>
			<div class="large-6 medium-12 small-12 columns">
				<%= link_to "<span aria-hidden='true' class='icon-twitter'></span><span>Share on Twitter</span>".html_safe(), 'https://twitter.com/home?status=' + request.original_url, :class => "button small expand radius twitter", :target => "_blank" %>
			</div>
			<div class="large-6 medium-12 small-12 columns">
				<%= link_to "<span aria-hidden='true' class='icon-google-plus'></span><span>Share on Google</span>".html_safe(), 'https://plus.google.com/share?url=' + request.original_url, :class => "button small expand radius google-plus", :target => "_blank" %>
			</div>
			<div class="large-6 medium-12 small-12 columns">
				<%= link_to "<span aria-hidden='true' class='icon-linkedin'></span><span>Share on LinkedIn</span>".html_safe(), 'https://www.linkedin.com/shareArticle?&url=' + request.original_url, :class => "button small expand radius linkedin", :target => "_blank" %>
			</div>
		</div>
	</div>
	<% if user_signed_in? %>
		<a href="#" class="feedback-link" data-reveal-id="feedback-modal" data-reveal>Feedback?</a>
		<%= render 'shared/feedback' %>
	<% end %>
	<div id="other-modal" class="reveal-modal medium" data-reveal style="display: none;"></div>

	<%= javascript_include_tag "application" %>
</body>
</html>
